@import '../../styles/colors.scss';

.pagination {
  justify-content: center;
  ul {
    li {
      p {
        color: $primaryOrange;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}