@import '../../styles/colors.scss';

.toast2 {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: $primaryOrange;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    z-index: 999;
}