@import '../../styles/colors.scss';
@import '../../styles/alignment.scss';

.card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: $mediumSpacing;
  border-radius: 2px;
  .avatar {
    width: 25%;
    padding: $bigSpacing;
  }
  a {
    color: $primaryOrange;
  }

  .favorite {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    img {
      width: 16px;
    }
  }
}